<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_checkout">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Order Checkout</h2>
                        <p>C <span>-</span> An Online Shopping Center</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================Checkout Area =================-->
<section class="checkout_area padding_top">
    <div class="container">
        <form action="#" method="POST">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Billing Details</h3>
                    <div class="row contact_form" >
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="first" name="name" 
                            value="<%= userDetails.name %>" placeholder="Name"/>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="number" name="phoneNumber" 
                            value="<%= userDetails.telephone_number %>" placeholder="Phone number"/>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="email" name="email" 
                            value="<%= userDetails.email %>" placeholder="Email"/>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="add1" name="address_no" 
                            value="<%= userDetails.address_no %>" placeholder="Address No"/>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="add1" name="road_name" 
                            value="<%= userDetails.road_name %>" placeholder="Road"/>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="add2" name="city" 
                            value="<%= userDetails.city %>" placeholder="City"/>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="city" name="country" 
                            value="<%= userDetails.country %>" placeholder="Country"/>
                        </div>
                        <div class="col-md-12 form-group p_star default-select" id="default-select_2">
                            <select id="payment_method" name="payment_method">
                                <option value="Cash on Delivery">Cash on Delivery</option>
                                <option value="Credit Card">Credit Card</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group p_star default-select" id="default-select_2">
                            <select id="delivery_method" name="delivery_method">
                                <option value="Store Pickup">Store Pickup</option>
                                <option value="Delivered">Delivered</option>
                            </select>
                        </div>    
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">
                            <li>
                                <a href="#">Product
                                    <span>Total</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Fresh Blackberry
                                    <span class="middle">x 02</span>
                                    <span class="last">$720.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Fresh Tomatoes
                                    <span class="middle">x 02</span>
                                    <span class="last">$720.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Fresh Brocoli
                                    <span class="middle">x 02</span>
                                    <span class="last">$720.00</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list list_2">
                            <li>
                                <a href="#">Subtotal
                                    <span>$2160.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Shipping
                                    <span>Flat rate: $50.00</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">Total
                                    <span>$2210.00</span>
                                </a>
                            </li>
                        </ul>
                        <div>
                            
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector" />
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div>
                        </div>
                        <button class="btn_3" type="submit" value="submit">Proceed to Paypal</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</section>
<!--================End Checkout Area =================-->

<script src="/javascripts/checkout_view.js"></script>
<%- include('../includes/footer.ejs') %>

