<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<section class="breadcrumb breadcrumb_bg_customer_login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Customer Login</h2>
                        <p>C <span>-</span> An Online Shopping Center</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>New to our Shop?</h2>
                        <p>create an account to access all the new features of C - An Online Shopping Center
                        </p>
                        <a href="/signup" class="btn_3">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome Back ! <br>
                            Please Sign in now</h3>
                        <% if(errorMessage) {%>
                            <div><%= errorMessage %></div>
                        <% } %>
                        <form class="row contact_form" action="/login" method="post" novalidate="novalidate">
                            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="name" name="username" 
                                    placeholder="Username">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" 
                                    placeholder="Password">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" id="f-option" name="rememberme">
                                    <label for="f-option">Remember me</label>
                                </div>
                                <button type="submit" value="submit" class="btn_3">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->

<%- include('../includes/footer.ejs') %>
