<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation_admin.ejs') %>

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2 style="color: #00ADB5;">Admin Dashboard</h2>
                        <h1>Top Sold Products</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!--================Table Area =================-->
<section class="cat_product_area">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row align-items-center latest_product_inner">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">Rating</th>
                            <th scope="col">No. of Sales</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for(var i=0; i < table.length; i++) { %>
                            <tr>
                                <th scope="row"><%= i+1 %></th>
                                <td><%= table[i].title %></td>
                                <td><%= table[i].description.substring(0,80)+'...' %></td>
                                <td><%= table[i].manufacturer %></td>
                                <td><%= table[i].rating %></td>
                                <td><%= table[i].Number_of_sales %></td>
                            </tr>
                            <% } %>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Table Area =================-->