<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation_admin.ejs') %>


<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2 style="color: #00ADB5;">Admin Dashboard</h2>
                        <h4 style="color: #00ADB5;">View Product Details - <%= product.product_id  %> </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================ confirmation part start =================-->
<section class="confirmation_part padding_top" style="padding-bottom: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lx-4">
                <div class="single_confirmation_details">
                    <h4>Product information</h4>
                    <ul>
                        <li>
                            <p>Category ID</p><span>: <%= product.product_id  %> </span>
                        </li>
                        <li>
                            <p>product</p><span>: <%=  product.title%></span>
                        </li>
                        <li>
                            <p>super product</p><span>: <%=  product.manufacturer%></span>
                        </li>
                        <li>
                            <p>deleted</p><span>: <%= product.rating %></span>
                        </li>
                        <li>
                            <p>deleted</p><span>: <%= product.deleted %></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="order_details_iner">
                    <h3>Sold Products based on it's varients</h3>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2">Varient ID</th>
                                <th scope="col">Varient</th>
                                <th scope="col">Sold Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var tot = 0; %>
                            <% for (var i = 0; i< varients.length; i++ ) { %>
                            <tr>
                                <th><%= varients[i].varient_id %></th>
                                <th colspan="2"><span><%= varients[i].title %></span></th>

                                <% tot+=varients[i].number_of_sales %>
                                <th><span>X<%= varients[i].number_of_sales  %></span></th>

                            </tr>
                            <% } %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th scope="col" colspan="3">Total Sold Items</th>
                                <th scope="col"><%= tot  %></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ confirmation part end =================-->

<%- include('../includes/footer_admin.ejs') %>